/* #131826
#24735c
#40341f
#BFAC95
#8c7558
#f2e2c4 */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* .img-fluid {
  height: 200px;
} */

#detail-page-header {
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  width: 100%;
}

#welcome-card-header {
  background-color: #8c7558;
}

#welcome-card-body {
  background-color: #f2e2c4;
}

.logo-img {
  width: 100px;
  height: 100px;
}

.navbar-toggler {
  background-color: #8c7558;
}

.link {
  u
}

